@model IEnumerable<EcommerceProject.Models.ProductModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item @(product.StockQuantity > 0 ? "" : "out-of-stock")">
                <div class="product__item__pic set-bg" data-setbg="@product.ImageUrl">
                    @if (product.StockQuantity <= 0)
                    {
                        <span class="label">Out of Stock</span>
                    }
                    <ul class="product__hover">
                        <li><a href="#"><img src="img/icon/heart.png" alt="Add to Wishlist"></a></li>
                        <li>
                            <a href="#"><img src="img/icon/compare.png" alt="Compare"> <span>Compare</span></a>
                        </li>
                        <li><a href="#"><img src="img/icon/search.png" alt="Search"></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6>@product.Name</h6>
                    <a href="#" class="add-cart">+ Add To Cart</a>
                    <div class="rating">
                        @for (int i = 0; i < 5; i++)
                        {
                            <i class="fa @(i < 4 ? "fa-star" : "fa-star-o")"></i>
                        }
                    </div>
                    <h5>@product.Price.ToString("C")</h5>
                    <div class="product__color__select">
                        <!-- Example colors - these should be dynamic based on your data -->
                        <label for="pc-@product.Id-1">
                            <input type="radio" id="pc-@product.Id-1" @(product.Color == "Black" ? "checked" : "")>
                        </label>
                        <label class="active black" for="pc-@product.Id-2">
                            <input type="radio" id="pc-@product.Id-2" @(product.Color == "Black" ? "checked" : "")>
                        </label>
                        <label class="grey" for="pc-@product.Id-3">
                            <input type="radio" id="pc-@product.Id-3" @(product.Color == "Grey" ? "checked" : "")>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
