@model CartItemViewModel

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                        <a href="@Url.Action("Index", "Shop")">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItem)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="@item.Product.ImageUrl" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@item.Product.Name</h6>
                                            <h5>@item.Product.Price.ToString("C")</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity-container">
                                            <div>
                                                <button class="quantity-btn" onclick="DecreaseProductQuantity(@item.Product.Id)">-</button>
                                                <input type="text" id="quantity-@item.Product.Id" value="@item.Quantity">
                                                <button class="quantity-btn" onclick="IncreaseProductQuantity(@item.Product.Id)">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">@((item.Product.Price * item.Quantity).ToString("C"))</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm cart-close-btn" onclick="RemoveProductFromCart(@item.Product.Id)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="@Url.Action("Index", "Shop")">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form asp-action="ApplyCoupon" asp-controller="ShopCart" method="post" id="apply-coupon-form">
                        <input asp-for="@Model.CouponCode" type="text" id="coupon-code" name="CouponCode" placeholder="Coupon code" value="@Model.CouponCode">
                        <button type="submit">Apply</button>
                    </form>
                    @if (Model.DiscountAmount > 0)
                    {
                        <div>
                            <p>Coupon applied: @Model.CouponCode</p>
                            <p>Discount: -@Model.DiscountAmount.ToString("C")</p>
                        </div>
                    }
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>@(Model.CartItem.Sum(item => item.Product.Price * item.Quantity).ToString("C"))</span></li>
                        @if (Model.DiscountAmount > 0)
                        {
                            <li>Discount <span> - @Model.DiscountAmount.ToString("C")</span></li>
                            <li>Total <span>@Model.TotalAmount.ToString("C")</span></li>
                        }
                        else
                        {
                            <li>Total <span>@(Model.CartItem.Sum(item => item.Product.Price * item.Quantity).ToString("C"))</span></li>
                        }
                    </ul>
                    <div>

                        <div class="continue__btn update__btn">
                            <a href="javascript:proceedToCheckout('@Model.isAuthenticated.ToString().ToLower()', '@ViewData["Deger"] = @Model.TotalAmount.ToString("C")')" class="primary-btn fa fa-spinner">Proceed to checkout</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
<!-- Ensure jQuery is loaded -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function RemoveProductFromCart(productId) {
        $.ajax({
            url: '@Url.Action("RemoveProductFromCart", "ShopCart")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ productId: productId }),
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    $('#feedback').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            },
            error: function (xhr, status, error) {
                $('#feedback').html('<div class="alert alert-danger">An error occurred: ' + error + '</div>');
            }
        });
    }

    function proceedToCheckout(isAuthenticated) {
        if (isAuthenticated == "true") {
            console.log("sa" + isAuthenticated);
            window.location.href = '@Url.Action("Index", "Checkout")';
        } else {
            console.log(isAuthenticated);
            $('#loginModal').modal('show');
        }
    }


    function continueAsGuest() {
        window.location.href = '@Url.Action("Index", "GuestCheckout")';
    }

    function IncreaseProductQuantity(productId) {
        $.ajax({
            url: '@Url.Action("IncreaseProductQuantity", "ShopCart")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ productId: productId }),
            success: function (response) {
                if (response.success) {
                    $('#quantity-' + productId).val(response.newQuantity);
                    location.reload();
                } else {
                    $('#feedback').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            },
            error: function (xhr, status, error) {
                $('#feedback').html('<div class="alert alert-danger">An error occurred: ' + error + '</div>');
            }
        });
    }

    function DecreaseProductQuantity(productId) {
        $.ajax({
            url: '@Url.Action("DecreaseProductQuantity", "ShopCart")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ productId: productId }),
            success: function (response) {
                if (response.success) {
                    $('#quantity-' + productId).val(response.newQuantity);
                    location.reload();
                } else {
                    $('#feedback').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            },
            error: function (xhr, status, error) {
                $('#feedback').html('<div class="alert alert-danger">An error occurred: ' + error + '</div>');
            }
        });
    }
</script>

<style>
    .cart-close-btn {
        padding: 2px 5px; /* Further reduced padding */
        font-size: 0.8rem; /* Further reduced font size */
    }

        .cart-close-btn:hover {
            background-color: #ff5a5a; /* Custom hover color */
        }

    .quantity-container {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
    }

        .quantity-container input {
            width: 50px; /* Adjust width as needed */
            text-align: center; /* Center text within the input */
            border: none; /* Remove the border */
            background-color: #f0f0f0; /* Optional: add background color */
            margin-right: 5px; /* Space between input and button */
            margin-left: 5px;
            font-size: 1rem; /* Adjust font size as needed */
        }

    .quantity-btn {
        font-size: 1rem; /* Adjust font size as needed */
        padding: 3px 5px; /* Adjust padding as needed */
        cursor: pointer; /* Show a pointer cursor on hover */
        border: none; /* Remove border */
        background-color: #f0f0f0; /* Button background color */
        color: black; /* Button text color */
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    }

        .quantity-btn:hover {
            background-color: grey; /* Darker color on hover */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
        }
</style>
